.valuespage-container {
    display: flex;
    flex-direction: column;
    
}

.valuespage-container .v-wrapper {
    margin-top: 5rem;
}


@media (max-width: 768px ) {
    .valuespage-container {
        gap: 2rem;
    }
}