.f-wrapper {
    padding: 5rem;  
    background-color: rgb(14, 13, 13);
    max-height: 80vh;
}
 .both-side {
    display: flex;
}

.f-con {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -1.5rem;
    color: #fff;
}

.good {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: -0.8rem;
   

}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.write {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 40%;  
}

.follow-h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follow {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-top: 2px solid grey;
    padding-top: 2rem;
    

}

.follow span:nth-child(1):hover{
    color: green;
}



@media (max-width: 640px) {

    .f-wrapper {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        
    }
    
   
    .write {
        font-size: 11px;
        
    }

    .follow-h2 {
        font-size: 20px;
        margin-bottom: -1rem;
    }

    .f-con {
        margin-top: -3rem;
    }

    .good {
        margin-top: 0.7rem;
    }

    .write {
        margin-top: 1rem;
        max-width: 100%;
        gap: 0.3rem;
        
    }

   
   
    
} 