.f-wrapper {
    padding: 5rem;  
    background-color: rgb(144, 218, 144); 
    
}

.f-con {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.good {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.write {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1.2rem;
    
}

.follow-h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follow {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}



@media (max-width: 640px) {
   
    .write {
        padding: 1rem;
        margin-top: 1rem;
        font-size: 11px;
        
    }

    .follow-h2 {
        font-size: 20px;
    }

   
   
    
}